﻿<%@ Page Title="" Language="C#" MasterPageFile="~/View/Layout.Master" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="btl.View.Index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
     <div class="row state-overview">
        <div class="col-md-12">
            <section class="card">
                <div class="card-body">
                    <h2 class="text-center">Chào mừng bạn đến với hệ thống quản lý Góc Coffee</h2>
                </div>
            </section>
        </div>
    </div>
</asp:Content>
