﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Layout.master.cs" Inherits="btl.View.Layout" %>

<!DOCTYPE html>
<head runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="../assets/template/img/favicon.png">

   <%-- <title>Hệ thống quản lý Góc Coffee</title>--%>

    <!-- Bootstrap core CSS -->
    <link href="../assets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/template/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="../assets/template/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../assets/template/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../assets/template/css/owl.carousel.css" type="text/css">

    <!--right slidebar-->
    <link href="../assets/template/css/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="../assets/template/css/style.css" rel="stylesheet">
    <link href="../assets/template/css/style-responsive.css" rel="stylesheet" />

    <script src="../assets/template/js/jquery.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body  class="light-sidebar-nav">
    <section id="container">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <i class="fa fa-bars"></i>
            </div>
            <!--logo start-->
            <a href="Index.aspx" class="logo">Góc <span>Coffee</span></a>
            <!--logo end-->
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <li>
                        <input type="text" class="form-control search" placeholder="Search">
                    </li>
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="NotFound.aspx">
                            <img alt="" src="../assets/template/img/avatar1_small.jpg">
                            <span class="username">No name</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout dropdown-menu-right">
                            <div class="log-arrow-up"></div>
                            <li><a href="NotFound.aspx"><i class=" fa fa-suitcase"></i>Profile</a></li>
                            <li><a href="NotFound.aspx"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="NotFound.aspx"><i class="fa fa-bell-o"></i> Notification</a></li>
                            <li><a href="NotFound.aspx"><i class="fa fa-key"></i> Log Out</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar"  class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="NotFound.aspx">
                            <i class="fa fa-home"></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li>
                        <a href="NotFound.aspx">
                            <i class="fa fa-bitbucket"></i>
                            <span>Quản lý đồ uống</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="NotFound.aspx">
                            <i class="fa fa-barcode"></i>
                            <span>Quản lý hóa đơn</span>
                        </a>
                        <ul class="sub">
                            <li><a href="NotFound.aspx">Lập hóa đơn</a></li>
                            <li><a href="NotFound.aspx">Danh sách hóa đơn</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="NotFound.aspx">
                            <i class="fa fa-asterisk"></i>
                            <span>Quản lý nguyên liệu</span>
                        </a>
                        <ul class="sub">
                            <li><a href="NotFound.aspx">Lập phiếu nhập nguyên liệu</a></li>
                            <li><a href="NotFound.aspx">Danh sách phiếu nhập nguyên liệu</a></li>
                            <li><a href="NotFound.aspx">Danh sách nguyên liệu</a></li>
                        </ul>
                    </li>
                    
                    <li class="sub-menu">
                        <a href="">
                            <i class="fa fa-user"></i>
                            <span>Quản lý nhân viên</span>
                        </a>
                        <ul class="sub">
                            <li><a href="ThemNhanVien.aspx">Thêm nhân viên</a></li>
                            <li><a href="DanhSachNhanVien.aspx">Danh sách nhân viên</a></li>
                            <li><a href="NotFound.aspx">Thêm vị trí</a></li>
                            
                        </ul>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div  id="header-content"></div>
               <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </section>
        </section>
        <!--main content end-->

        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2020 &copy; Nhóm 2.
                <a href="#header-content" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>
    
    <!-- js placed at the end of the document so the pages load faster -->
    
    <script src="../assets/template/js/bootstrap.bundle.min.js"></script>
    <script class="include" type="text/javascript" src="../assets/template/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="../assets/template/js/jquery.scrollTo.min.js"></script>
    <script src="../assets/template/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="../assets/template/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="../assets/template/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="../assets/template/js/owl.carousel.js" ></script>
    <script src="../assets/template/js/jquery.customSelect.min.js" ></script>
    <script src="../assets/template/js/respond.min.js" ></script>

    <!--right slidebar-->
    <script src="../assets/template/js/slidebars.min.js"></script>

    <!--common script for all pages-->
    <script src="../assets/template/js/common-scripts.js"></script>

</body>
</html>
